<h1> Full Schedule for <%= @pet.name %> </h1>

<ul style="list-style-type:none;">
<% @events.each do |e| %>
    <li> <%= e.date %> - <%= e.name %> </li>
    <%end%>
</ul>

<%= link_to "Create Event", new_pet_event_path(@pet) %>
